---
import { eq } from 'drizzle-orm'
import { db } from '../db'
import { user } from '../db/schema'

export interface Props {
	initialSession: import('better-auth').Session
}
const { initialSession } = Astro.props

const User = await db
	.select()
	.from(user)
	.where(eq(user.id, initialSession.userId))
	.get()
---

<div class='container'>
	<h3 style='text-align: center;'>
		👋 Hello, <span>{User?.name.toUpperCase()}</span>
	</h3>
	<p>Mail verified: {User?.emailVerified ? 'Yes' : 'No'}</p>
	<p>Mail: {User?.email}</p>
</div>

<style>
	.container {
		text-align: center;
		display: flex;
		flex-direction: column;
	}

	span {
		color: var(--pico-primary-background);
	}
</style>
